.button {
    transition: all var(--defaultTransitionTime);
    user-select: none;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--spacingSmall);
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.buttonDisabled {
    opacity: 0.5;
    pointer-events: none;
}

.textGlowButton {
    color: inherit;
}

.textGlowButton:hover {
    color: var(--primaryTransparent);
}

.textPrimaryButton {
    transition: all var(--defaultTransitionTime);
    color: var(--primaryHighlight)
}

.textPrimaryButton:hover {
    color: var(--primary)
}

.buttonPrimary {
    background-color: var(--primary);
    color: white;
    padding: var(--spacingSmall) var(--spacingMedium);
    border-radius: var(--defaultBorderRadius);
    cursor: pointer;
}

.buttonPrimary:hover {
    box-shadow: inset rgba(0, 0, 0, 0.35) 0 0 0 1000px;
}

.buttonPrimaryTransparent {
    padding: var(--spacingSmall) var(--spacingMedium);
    border-radius: var(--defaultBorderRadius);
    border-radius: var(--defaultBorderRadius);
    cursor: pointer;
}

.buttonPrimaryTransparent:hover {
    box-shadow: inset rgba(0, 0, 0, 0.35) 0 0 0 1000px;
    background-color: var(--primaryTransparent);
}

.buttonBg3 {
    background-color: var(--background3);
    padding: var(--spacingSmall) var(--spacingMedium);
    border-radius: var(--defaultBorderRadius);
    border: solid var(--background3) 1.5px;
    cursor: pointer;
}

.buttonBg3:hover {
    background-color: var(--background4);
    border-color: var(--background5);
}

.buttonBg4 {
    background-color: var(--background4);
    padding: var(--spacingSmall) var(--spacingMedium);
    border-radius: var(--defaultBorderRadius);
    border: solid var(--background4) 1.5px;
    cursor: pointer;
}

.buttonBg4:hover {
    background-color: var(--background5);
    border-color: var(--background6);
}

.buttonBig {
    padding: var(--spacingMedium) var(--spacingLarge);
}

.textLink {
    text-decoration: underline;
    transition: all var(--defaultTransitionTime);
}

.textLink:hover {
    text-decoration-color: var(--primary);
    color: var(--primary);
}