/* @import "variables.scss"; */
@use "variables.scss";

* {
  display: block;
  margin: unset;
  padding: unset;
  height: fit-content;
  text-decoration: none;
  font-size: unset;
  font-weight: unset;
  color: unset;
  outline: unset;
  border: unset;
  background: unset;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  // causing weird issues with SSR
  // animation: slideIn var(--defaultTransitionTime) ease-in-out;
}

head,
script {
  display: none;
}

:root {

  color-scheme: light dark;
  background-color: var(--background1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  color: var(--color);

  overflow-x: hidden;

  /* variables */
  --primary: rgb(10, 106, 202);
  --primaryHighlight: rgb(9, 119, 228);
  --primaryTransparent: rgb(6, 130, 254);
  --positive: rgb(0, 255, 0);
  --destructive: rgb(255, 0, 0);

  --defaultBoxShadow: rgba(0, 0, 0, 0.2) 0 8px 22px 0;

  --collapseViewportWidth: 800px;

  --spacingXSmall: 4px;
  --spacingSmall: 8px;
  --spacingMedium: 16px;
  --spacingLarge: 32px;
  --spacingXLarge: 64px;
  --mainSideSpacing: 5%;

  --defaultBorderRadius: 6px;
  --extremeBorderRadius: 32px;
  --defaultBorderThickness: 3px;
  --defaultTransitionTime: 0.2s;

  --textXSmall: 0.95rem;
  --textSmall: 1.1rem;
  --textMedium: 1.45rem;
  --textLarge: 2rem;
  --textXLarge: 2.9rem;

  --paragraphWeight: 400;
  --headerSmallWeight: 600;
  --headerLargeWieght: 700;

  /* element-specific */

  --navbarHeight: 50px;
  --articlePreviewHeight: 300px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background1: rgb(25, 25, 25);
    --background2: rgb(32, 32, 32);
    --background3: rgb(39, 39, 39);
    --background4: rgb(46, 46, 46);
    --background5: rgb(51, 51, 51);
    --background6: rgb(57, 57, 57);
    --color: white;
    --colorSlightTransparent: rgba(255, 255, 255, 0.7);
    --defaultBorderColor: rgba(95, 255, 51, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background1: rgb(255, 255, 255);
    --background2: rgb(240, 240, 240);
    --background3: rgb(220, 220, 220);
    --background4: rgb(200, 200, 200);
    --background5: rgb(180, 180, 180);
    --background6: rgb(160, 160, 160);
    --color: black;
    --colorSlightTransparent: rgba(0, 0, 0, 0.7);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

.slideIn {
  animation: slideIn var(--defaultTransitionTime) ease-in-out;
}

.material-symbols-outlined {
  font-size: unset;
  font-weight: unset;
}

.defaultTransition {
  transition: all var(--defaultTransitionTime) ease-in-out;
}

.defaultBorder {
  box-shadow: var(--defaultBorderColor) 0 0 0 var(--defaultBorderThickness);
  border-radius: var(--defaultBorderRadius);
}

.defaultBorderRadius {
  border-radius: var(--defaultBorderRadius);
}

.maxBorderRadius {
  border-radius: 10000px;
}

.defaultBoxShadow {
  box-shadow: var(--defaultBoxShadow);
}

.main {
  padding-top: calc(var(--navbarHeight) + var(--spacingSmall) * 2);
  min-height: 100vh;
}

.section {
  padding: 0 var(--mainSideSpacing);
}

.sectionPadded {
  padding: var(--spacingLarge) var(--mainSideSpacing);
}

.container {
  padding: var(--spacingLarge);
}

.textInput {
  padding: var(--spacingSmall);
  border-radius: var(--defaultBorderRadius);
}

/* .hidden {
  opacity: 0;
  pointer-events: none;
} */

.invisible {
  opacity: 0;
  pointer-events: none;
}

.sectionImage {
  max-height: 60vh;
  width: 80%;
  margin: auto;
  object-fit: cover;
}

/* .mobile {
  display: none !important;
} */

@media (--desktop) {
  .mobile {
    display: none !important;
  }
}

@media (--mobile) {
  .desktop {
    display: none !important;
  }
}

details summary {
  cursor: pointer;
  display: flex;
  width: calc(100% - var(--spacingSmall) * 2) !important;
}

details[open] summary {
  /* background-color: var(--background2); */
  /* border-bottom: solid 1.5px var(--background2); */
}

details .detailsContent {
  /* top: -5px;
  position: relative; */
  transition: all var(--defaultTransitionTime) ease-out;
  /* translate: 0 -8px; */
}

details[open] .detailsContent {
  animation: slideIn var(--defaultTransitionTime) ease-out;
};

input[type="checkbox"] {
  accent-color: var(--primary);
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.noSelect {
  user-select: none;
}

.basicTable {
  display: table;
}

.noOverflow {
  overflow: hidden;
}