@use "./variables.scss";

.row {
  display: flex;
  flex-direction: row;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnReverse {
  display: flex;
  flex-direction: column-reverse;
}

.centerRow {
  justify-content: center;
}

.centerColumn {
  align-items: center;
}

.rowCollapsible {
  display: flex;
  flex-direction: row;
}

@media (--mobile) {
  .rowCollapsible {
    flex-direction: column;
  }
}

.rowCollapsibleReverse {
  display: flex;
  flex-direction: row-reverse;
}

@media (--mobile) {
  .rowCollapsibleReverse {
    flex-direction: column-reverse;
  }
}

.columnCollapsible {
  display: flex;
  flex-direction: column;
}

@media (--mobile) {
  .columnCollapsible {
    flex-direction: row;
  }
}

.columnCollapsibleScroll {
  display: flex;
  flex-direction: column;
}

@media (--mobile) {
  .columnCollapsibleScroll {
    height: min-content;
    flex-direction: row;
    overflow-x: scroll;
  }
}

@media (--mobile) {
  .rowCenterMobile {
    justify-content: center;
  }
}

@media (--mobile) {
  .columnCenterMobile {
    align-items: center;
  }
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.flexWrap {
  flex-wrap: wrap;
}

.widthFit {
  width: fit-content;
}

.minWidth {
  width: min-content;
}

.minHeight {
  height: min-content;
}

.marginAuto {
  margin: auto;
}

@media (--mobile) {
  .marginAutoMobile {
    margin: auto;
  }
}

@media (--desktop) {
  .stickyDesktopTop {
    position: sticky;
    top: calc(var(--spacingMedium) + var(--navbarHeight));
  }
}