@use "./variables.scss";

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centerRow {
  justify-content: center;
}

.centerColumn {
  align-items: center;
}

.rowCollapsible {
  display: flex;
  flex-direction: row;
}

@media (--mobile) {
  .rowCollapsible {
    flex-direction: column;
  }
}

.columnCollapsible {
  display: flex;
  flex-direction: column;
}

@media (--mobile) {
  .columnCollapsible {
    flex-direction: row;
  }
}

.columnCollapsibleScroll {
  display: flex;
  flex-direction: column;
}

@media (--mobile) {
  .columnCollapsibleScroll {
    height: min-content;
    flex-direction: row;
    overflow-x: scroll;
  }
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.flexWrap {
  flex-wrap: wrap;
}

.widthFit {
  width: fit-content;
}