@use "./variables.scss";

.maxWidth {
  width: max-content;
}

.width100 {
  width: 100%;
}

@media (--mobile) {
  .width100Mobile {
    width: 100%;
  }
}

.width50 {
  width: 50%;
}

.maxHeight {
  height: max-content;
}

.overflowScroll {
  overflow: scroll;
}

.overflowHidden {
  overflow: hidden;
}
