.textXSmall {
    font-size: var(--textXSmall);
}

.textSmall {
    font-size: var(--textSmall);
}

.textMedium {
    font-size: var(--textMedium);
}

.textLarge {
    font-size: var(--textLarge);
}

.textXLarge {
    font-size: var(--textXLarge);
}

.paragraph {
    font-weight: var(--paragraphWeight);
}

.headerSmall {
    font-weight: var(--headerSmallWeight);
}

.headerLarge {
    font-weight: var(--headerLargeWieght);
}

.textCenter {
    text-align: center;
}

.textSlightTransparent {
    color: var(--colorSlightTransparent);
}

.strikeThrough {
    text-decoration: line-through;
}

.textPrimary {
    color: var(--primary);
}

.textPrimaryHighlight {
    color: var(--primaryHighlight);
}

.textPositive {
    color: var(--positive);
}

.textDestructive {
    color: var(--destructive);
}