.gapXSmall {
    gap: var(--spacingXSmall);
}

.gapSmall {
    gap: var(--spacingSmall);
}

.gapMedium {
    gap: var(--spacingMedium);
}

.gapLarge {
    gap: var(--spacingLarge);
}

.gapXLarge {
    gap: var(--spacingXLarge);
}

.paddingXSmall {
    padding: var(--spacingXSmall);
}

.paddingSmall {
    padding: var(--spacingSmall);
}

.paddingMedium {
    padding: var(--spacingMedium);
}

.paddingLarge {
    padding: var(--spacingLarge);
}

.paddingXLarge {
    padding: var(--spacingXLarge);
}
