.textXSmall {
    font-size: var(--textXSmall);
}

.textSmall {
    font-size: var(--textSmall);
}

.textMedium {
    font-size: var(--textMedium);
}

.textLarge {
    font-size: var(--textLarge);
}

.textXLarge {
    font-size: var(--textXLarge);
}

.paragraph {
    font-weight: var(--paragraphWeight);
}

.smallHeader {
    font-weight: var(--smallHeaderWeight);
}

.largeHeader {
    font-weight: var(--largeHeaderWieght);
}

.textCenter {
    text-align: center;
}