.doubleSliderBar {
    height: 10px;
    border-radius: 100px;
    background-color: var(--background2);
    position: relative;
}

.doubleSlider {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    background-color: var(--primary);
}

.doubleSliderBetween {
    background-color: var(--primary);
    height: 10px;
    border-radius: 100px;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
}