.fakeArticlePreview {
    border-width: 2px;
    border-style: solid;
    max-width: 400px;
    width: 100%;
}

/* @keyframes animatePlaceholder {
    0% {
        background-color: var(--background2);
    }
    50% {
        background-color: var(--background3);
    }
    100% {
        background-color: var(--background2);
    }
} */

.animatePlaceholder {
    animation: animatePlaceholder 1s infinite;
}

.fakeArticlePreviewImage {
    aspect-ratio: 1/1;
    width: 100%;
}

.fakeArticlePreviewTitle {
    height: 30px;
    width: 100%;
}

.fakeArticlePreviewPrice {
    height: 20px;
    width: 100%;
}