.doubleSliderContainer {
    padding-bottom: var(--spacingSmall);
    width: 180px;
}

.doubleSliderBar {
    height: 9px;
    border-radius: 100px;
    position: relative;
}

.doubleSlider {
    border-radius: 100%;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -5px;
    background-color: var(--primary);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0;
}

.doubleSliderBetween {
    background-color: var(--primaryHighlight);
    height: 9px;
    border-radius: 100px;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
}