.laptopPreview {
    border-width: 2px;
    border-style: solid;
    max-width: 480px;
    min-width: 300px;
    width: fit-content;
}

.laptopPreview:hover {
    background-color: var(--laptopBackground);
}

/* @keyframes animatePlaceholder {
    0% {
        background-color: var(--background2);
    }
    50% {
        background-color: var(--background3);
    }
    100% {
        background-color: var(--background2);
    }
} */

.fakeLaptopPreviewPrice {
    width: 100%;
}

.animatePlaceholder {
    animation: animatePlaceholder 1s infinite;
}

.laptopPreviewImage {
    aspect-ratio: 4 / 3;
    width: 100%;
    max-width: 250px;
    max-height: 300px;
    object-fit: contain;
}