@use "../../../app/styles/variables.scss";

/* @media (--desktop) {
  .article {
    width: calc(100%);
  }
} */

.articleTitleImage {
  max-width: min(100%, 1200px);
  max-height: 50vh;
  object-fit: contain;
  border-radius: var(--defaultBorderRadius);
}

.articleContent strong {
    font-weight: 600;
}

.articleContent h1 {
    font-size: var(--textXLarge);
}

.articleContent h2 {
    font-size: var(--textLarge);
}

.articleContent h3 {
    font-size: var(--textMedium);
}

.articleContent h4 {
    font-size: var(--textSmall);
}

.articleContent h5 {
    font-size: var(--textXSmall);
}

.articleContent code {
    background-color: var(--background3);
    border-radius: var(--defaultBorderRadius);
    padding: var(--spacingSmall);
}

.articleContent em {
    width: fit-content;
}

.article .authorImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
}

.article .contentImage {
  min-height: 200px;
  max-height: 60vh;
  margin: auto;
  min-width: 300px;
  width: 80%;
  max-width: 100%;
  object-fit: contain;
  border-radius: var(--defaultBorderRadius);
}