@use "../../../app/styles/variables.scss";

/* @media (--desktop) {
  .article {
    width: calc(100%);
  }
} */

.articleTitleImage {
  max-width: min(100%, 1200px);
  max-height: 50vh;
  object-fit: contain;
  border-radius: var(--defaultBorderRadius);
}

.articleContent {
  line-height: 135%;
  
}

.articleContent strong {
  font-weight: 600;
}

.articleContent h1, h2, h3, h4, h5 {
  line-height: 100%;
}

.articleContent h1 {
  font-size: var(--textXLarge);
  font-weight: 700;
}

.articleContent h2 {
  font-size: var(--textLarge);
  font-weight: 600;
}

.articleContent h3 {
  font-size: var(--textMedium);
  font-weight: 500;
}

.articleContent h4 {
  font-size: var(--textSmall);
  font-weight: 500;
}

.articleContent h5 {
  font-size: var(--textXSmall);
  font-weight: 500;
}

.articleContent code {
  background-color: var(--background3);
  border-radius: var(--defaultBorderRadius);
  padding: var(--spacingSmall);
}

.articleContent em {
  width: fit-content;
}

.articleContent a {
  width: fit-content;
  color: var(--primaryHighlight);
  text-underline-offset: 3px;
  transition: all var(--defaultTransitionTime);
}

.articleContent a:hover {
  color: var(--primary);
}

.articleContent p {
  display: run-in;
  gap: var(--spacingXSmall);
  opacity: 0.9;
}

.articleContent blockquote {
  border-left: var(--background3) 4px solid;
  padding: var(--spacingSmall);
  color: var(--colorSlightTransparent);
}

.articleContent hr {
  background-color: var(--background3);
  height: 3px;
}

.articleContent ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacingSmall);
  list-style-type: none;
  opacity: 0.9;
}

.articleContent li::before {
  content: "•";
  padding-right: var(--spacingSmall);
}

.article .authorImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
}

.article .contentImage {
  height: 100%;
  object-fit: contain;
  border-radius: var(--defaultBorderRadius);
  min-height: 200px;
  max-height: min(50vh, 500px);
}

.articleContent pre {
  width: fit-content;
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.articleCode {
  size: var(--textSmall);
}

.articleCode pre {
  display: flex !important;
  background-color: unset !important;
}